<!--<nav ng-controller="navController" class="navbar-fixed-top">-->
<nav ng-controller="navController" class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/" class="fa fa-home fa-3x" ng-class="{ 'topnav_active': $state.current.name == 'index' }" style="padding: 0px; text-decoration: none; padding-left: 10px; height:51px; padding-top:5px;">&nbsp;</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar navbar-left">
        <li><a href="#/popular"    ng-class="{ 'topnav_active': $state.current.name == 'popular' }">Popular</a></li>
        <li><a href="#/searchUser" ng-class="{ 'topnav_active': $state.current.name == 'searchUser' }">Search
            User</a></li>
        <li><a href="#/searchTag"  ng-class="{ 'topnav_active': $state.current.name == 'searchTag' }">Search Tag</a>
        </li>
        <li><a href="#/searchMap"  ng-class="{ 'topnav_active': $state.current.name == 'searchMap' }">Search on Google Maps</a>
        </li>
      </ul>

      <!--after log out its not work!!! -->
      <ul class="nav navbar-nav navbar-right" style="margin:8px 0px 0 0;" ng-show="!isLoggedIn()">
      
            <li><a ng-href="{{authLink}}">
                  <i class="fa fa-instagram"></i> Login with Instagram
                </a>
            </li>
          
      </ul>
   
      <ul class="nav navbar-nav navbar-right " style="margin:-6px 0px;" ng-show="isLoggedIn()"  >
        <li class="dropdown" ng-show="userRequests.length">
          <a href="#" class="dropdown-toggle" dropdown-toggle>
              <span class="glyphicon glyphicon-bell" style="margin-right:5px;"></span>Requests <span class="label label-primary">{{userRequests.length}}</span>
            </a>
                <ul class="dropdown-menu" style="min-width: 250px;">
                    <li ng-repeat="request in userRequests">
                        <img class="img-circle" ng-src="{{request.profile_picture}}" style="width: 50px;margin-left: 10px;">
                        <span class="label label-primary">{{request.username}}</span>
                        <span class="glyphicon glyphicon-ok-circle"></span>
                        <span class="glyphicon glyphicon-ban-circle"></span>
                    </li>
                </ul>
            </li>

            <li dropdown is-open="status.isopen">

                <a href="#" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled" >
                <img ng-src="{{user.profile_picture}}" class="img-circle" style="width: 35px;margin-right: 10px;">
                <strong>{{user.username}}</strong>
                <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
          <ul class="dropdown-menu">
            <li>
              <div class="navbar-login">
                  <div class="row">
                      <div class="col-lg-4">
                          <p class="text-center">
                              <a ng-href="#/user/{{user.userId}}/{{user.username}}">
                              <img ng-src="{{user.profile_picture}}" class="img-circle" style="width: 84px;margin-right: 10px;">
                              </a>
                          </p>
                      </div>
                      <div class="col-lg-8">
                          <p class="text-left"><strong>{{user.full_name}}</strong></p>
                          <p class="text-left small">{{user.bio}}</p>
                          <p class="text-left">
                              <a href="" class="btn btn-primary btn-block btn-sm" ng-click="refresh()">Refresh</a>
                          </p>
                      </div>
                  </div>
              </div>
            </li>
            <li class="divider"></li>
            <li>
                <div class="navbar-login navbar-login-session">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                <a href="#/index" class="btn btn-danger btn-block" ng-click="signOut()">Sign Out</a>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>